.modal_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.modal_cont {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  z-index: 12;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  max-width: 50%;
}

@media (max-width: 800px) {
  .modal_cont {
    max-width: 75%;
  }
}

.modal_cont ul {
  text-align: left;
}

.modal_button_cont {
  width: 100%;
  text-align: right;
}

.modal_button_cont button {
  background-color: black;
  padding: 0.3rem 0.8rem;
  color: #dad7dc;
  border-radius: 8px;
  margin-left: 1rem;
}

.modal_button_cont button:hover {
  color: white;
  cursor: pointer;
}
